.categoriesList_header p {
  color: var(--primary-font-color);
  padding: 0.5rem;
  font-size: 1.2rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: var(--primary-font-color);
}

.table th {
  padding: 0.5rem;
  text-align: left;
}

.table td {
  padding: 0.5rem;
  text-align: left;
}

.table th:first-child {
  border-top-left-radius: 2px;
}

.table th:last-child {
  border-top-right-radius: 2px;
}

.table th {
  background-color: none;
}

.table tr:nth-child(even) {
  background-color: ghostwhite;
}

.table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.table_menuIcon_container {
  text-align: right !important;
  position: relative;
}

.table_menuIcon {
  cursor: pointer;
}

.link {
  display: inline-block;
  width: 100%;
}
