.header {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 20px 1px 4px rgba(0, 0, 0, 0.1);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
}

.header_menu_icon_container {
  padding: 0.3rem;
  border-radius: 3px;
  transition: 0.4s ease-in-out;
}

.header_menu_icon_container:hover {
  background-color: #dfe1e5;
}

.header_menu {
  font-size: 1.6rem;
  cursor: pointer;
}

.header_profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.38rem;
  cursor: pointer;
  text-align: left;
  transition: 0.5s;
}

.header_profile:hover {
  background-color: #dfe1e5;
}

.header_profile_icon {
  font-size: 2rem;
  color: var(--primary-color);
}

.header_profile_info span {
  font-size: 0.7rem;
  color: var(--primary-font-color);
}
