.header {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 20px 1px 4px rgba(0, 0, 0, 0.1);
  padding: 0.67rem;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_menu {
  font-size: 1.6rem;
  cursor: pointer;
}
