.layout {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.aside {
  width: 250px;
  color: white;
  z-index: 10;
  background-color: #3d464d;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.aside_left {
  position: relative;
  transform: translateX(-250px);
}

.main {
  flex: 1;
  background-color: #f5f7fa;
  position: relative;
  padding-top: 3.5rem;
  transition: margin-left 0.3s ease-in-out;
}

.main_fullwidth {
  margin-left: 0;
}

.with_sidebar .main {
  margin-left: -250px;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 740px) {
  .aside {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    transition: transform 0.1s ease-in-out;
  }

  .aside_overlay {
    position: fixed;
    left: 250px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 10;
    background-color: rgba(223, 224, 225, 0.4);
  }

  .displayNone {
    display: none;
  }

  .main {
    margin-left: 0;
  }

  .with_sidebar .main {
    margin-left: 0;
  }
}
