.profileMenu {
  position: absolute;
  top: 55px; /* Adjust based on your header height */
  right: 15px; /* Adjust to align with your profile section */
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 15rem;
  text-align: left;
}

.profileMenu ul {
  list-style: none;
}

.profileMenu ul li:hover {
  color: var(--primary-color);
}

.logoutButton {
  color: gray;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  background-color: white;
}

.logoutButton:hover {
  color: var(--primary-color);
}
