.sidebar {
  height: 100vh;
  background-color: #3d464d;
  position: relative;
  width: 250px;
  transition: left 1s ease-in-out;
}

.sidebar_left {
  transition: left 1s ease-in-out;
}

.sidebar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 0.7rem 1rem;
  color: #3d464d;
}

.sidebar_header p {
  cursor: pointer;
  color: var(--primary-font-color);
  font-weight: bold;
}

.sidebar_header p span {
  font-size: 1.5rem;
  color: rgb(255, 0, 0);
}

.sidebar_header_brand {
  font-size: 1.5rem;
}

.sidebar_header_btn {
  background-color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9rem;
}

.sidebar_section {
  padding: 1rem;
}

.sidebar_section p a {
  color: white;
  text-decoration: none;
}

.sidebar_list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 84vh;
}

.sidebar_list::-webkit-scrollbar {
  /* For Chrome, Safari, etc. */
  width: 3px; /* Set the width of the scrollbar */
}

.sidebar_list::-moz-scrollbar {
  /* For Firefox */
  width: 3px;
}

.sidebar_list::-webkit-scrollbar-track {
  /* For Chrome, Safari, etc. */
  background: #3d464d; /* Set the background color of the track */
}

.sidebar_list::-moz-scrollbar-track {
  /* For Firefox */
  background: #3d464d;
}

.sidebar_list::-webkit-scrollbar-thumb {
  /* For Chrome, Safari, etc. */
  background: rgb(199, 199, 199); /* Set the background color of the thumb */
  /* Add a rounded corner to the thumb */
}

.sidebar_list::-moz-scrollbar-thumb {
  /* For Firefox */
  background: rgb(199, 199, 199);
}

.sidebar_list li {
  padding: 0.15rem 0.5rem;
  cursor: pointer;
  color: white;
}

.sidebar_listItem_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  transition: 0.3s ease-in-out;
}

.sidebar_listItem_header:hover {
  background-color: rgb(51, 58, 71);
}

.sidebar_listItem_header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list_container {
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.list_container.open {
  max-height: 500px; /* or some appropriate maximum height */
  opacity: 1;
}

.list_container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list_container li {
  padding: 0.4rem;
  border-bottom: none;
  padding-left: 2rem;
}

.list_container li a {
  color: white;
  text-decoration: none;
}

.list_container li a:hover {
  color: var(--primary-color);
}

.sidebar_list_arrow_down {
  transform: rotate(-90deg);
  transition: 0.2s;
  color: white;
}

.sidebar_list_arrow_left {
  transform: rotate(0deg);
  transition: 0.2s;
  color: rgb(180, 178, 178);
}

.sidebar_listItem_link {
  color: white;
  text-decoration: none;
}

@media (max-width: 740px) {
  .sidebar {
    width: 250px;
    background-color: #3d464d;
  }
}
