.signup {
  background-color: #f5f7fa;
  height: 100vh;
  display: flex;
  align-content: center;
}

.formContainer {
  width: 30%;
  margin: auto;
  padding: 1.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 4px;
}

.formHeader p {
  margin-top: 0.5rem;
  color: rgb(105, 115, 121);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
}

.formControl input {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: white;
}

.passwordError {
  color: rgb(246, 86, 0);
}

.togglePassword {
  cursor: pointer;
  position: absolute;
  right: 10px; /* Adjust right padding for desired positioning */
  top: 2.5rem; /* Vertical centering */
  transform: translateY(-50%); /* Counteract vertical offset */
}

.formAction {
  margin-top: 1rem;
  width: 100%;
}

.formAction button {
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-color: #ffd333;
  border: none;
}

.formFooter_Line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000; /* You can adjust the line style here */
  line-height: 0.1em; /* Adjust this value to change the line thickness */
  margin: 20px 0; /* Adjust this value to set the space above and below the line */
}

.formFooter_Text {
  background-color: #fff; /* Background color to cover the line */
  padding: 0 10px;
  font-size: 0.7rem;
  color: rgb(105, 115, 121);
}

.formFooter_Methods {
  display: flex;
  justify-content: space-evenly;
}

.formFooter_Methods button {
  border: none;
  background-color: #e6e8eb;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.formFooter_Link {
  margin-top: 1rem;
  text-align: center;
  color: rgb(105, 115, 121);
}
/* Large Screens (Desktops) */
@media (min-width: 1200px) {
  .formContainer {
    width: 33.33%; /* Adjust for 4 equal columns */
  }
}

/* Medium Screens (Laptops) */
@media (max-width: 1199px) and (min-width: 768px) {
  .formContainer {
    width: 45%; /* Adjust for 3 equal columns */
  }
}

/* Tablets */
@media (max-width: 767px) and (min-width: 480px) {
  .formContainer {
    width: 60%; /* Adjust for 2 equal columns */
  }
}

/* Mobile Phones */
@media (max-width: 479px) {
  .formContainer {
    width: 100%; /* Set full width for mobile phones */
  }
}
