.folderList {
  margin-top: 1rem;
}

.folderList ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0rem 1rem;
}

.folderItem {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
  padding: 0.5rem 0.2rem;
  min-width: 7rem;
  border: 1px solid gainsboro;
  color: var(--primary-font-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.folderItem:hover {
  background-color: #72777b;
  color: white;
}

.folderItem a {
  color: var(--primary-font-color);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.folderItem:hover a {
  color: white;
}

.imagesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
  gap: 5px;
  padding: 5px;
  margin-top: 10px;
  max-height: 60vh;
  overflow-y: scroll;
}
