.imagesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 16px;
  padding: 5px;
  margin-top: 10px;
  max-height: 60vh;
  overflow-y: scroll;
}

.imageWrapper {
  position: relative; /* Important for positioning the overlay */
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.imageWrapper:hover .image {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.imageWrapper:hover .overlay {
  opacity: 1;
}

.button {
  background: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #ddd;
}
