:root {
  /* --primary-color: #ffd333; */
  --primary-color: #edc124;
  --primary-font-color: darkslategrey;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#root {
  max-width: 1500px;
  margin: auto;
}

a {
  color: rgb(72, 72, 244);
  font-weight: 300;
  word-spacing: 2px;
}

input {
  outline: none;
}
